  <div class="inner-content">
    <%= image_tag shop.image_path, alt: "Popup Image", class: "img-pop"%>
    <div class="text-pop">
      <h4 class="card-title-roboto"><%= shop.name %></h4>
      <p class="card-text-quicksand"><%= shop.address %></p>
      <% if shop_open?(shop) %>
        <p class="shop-status open">Actuellement ouvert</p>
      <% else %>
        <p class="shop-status closed">Actuellement fermé</p>
      <% end %>
    </div>
    <%= link_to "Voir plus", shop_path(shop), class: "btn-sm custom-btn-shop" %>
  </div>
