<div class="d-flex align-items-center">
  <%= image_tag "favicon-32x32.png", height: 30, width: 30, alt: "marker" %>
  <div class="badge rounded-pill bg-primary fs-6 ms-2">
    <%= shop.name %>
  </div>
</div>
