<div class="h-100 position-relative">
  <%= map @options %>
  <%= link_to "J'y suis allé !", score_path(history: params[:history_id], shop: params[:id]), class: "btn custom-btn-itinerary position-absolute", style: "bottom: 50px;" %>
</div>
