<div class="h-100 position-relative">
  <%= map @options %>
  <%= link_to "j'y suis allé !", score_path(history: params[:history_id], shop: params[:id]), class: "btn btn-success position-absolute start-0 end-0 mx-3", style: "bottom: 50px;" %>
</div>
