.container-product-alternative {
  width: 100vw;
  min-height: 100vh;
  background-color: #212121;
  color: white;
  font-family: "Quicksand", "sans-serif";
}

.bgblack {
  background-color: #212121;
}

.product-alternative {
  width : 85%;
  height: 17vh;
}

.product-alternative-details {
  padding: 5%;
}

.product-alternative-details ul li {
  list-style-type: none;
  padding: 0;
}

.product-container {
  position: relative;
  width: 100%;
  flex: 100%;
}

.product-alternative img {
  width: 100%;
  height: auto;
}

.picto-icon {
  position: absolute;
  top: -15px;
  right: -15px;
}

.nav-link {
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.btn {
  // margin-left: 12%;
  // margin-right: 12%;
  // position: sticky;
  background-color: #1DDD50;
  border-radius: 20px;
}


.container-histories {
  a {
    text-decoration: none;
    color: #3E413D;
  }
}

.card-product {
  height: 140px;
  background-image: url('carotte.jpg');
  color: white;
  font-family: "Quicksand", "sans-serif";
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.card-product img {
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  background-image: cover;
}

.card-product .card-product-infos {
  padding: 16px;
}

.picto-icon-alternative {
  position: absolute;
  top: -13px;
  right: -3px;
}

#offcanvasBottom {
  background-color: #212121;
  color: white;
  font-family: "Quicksand", "sans-serif";
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  overflow-y: scroll;
  padding-bottom: 20px;
  .offcanvas-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.offcanvas{
  bottom: 90px !important;
  --bs-offcanvas-height: 70vh !important;
}

#offcanvasBottomLabel::before {
  content: "";
  width: 50px;
  border-bottom: 1px solid white;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

}


.offcanvas.offcanvas-bottom {
  height: 75vh;
}

.icon-text-spacing {
  margin-left: 8px; /* Ajoutez la marge à gauche pour créer de l'espace entre l'icône et le texte */
}

.nav-tabs {
  background-color: #3E413D;
  --bs-nav-tabs-border-color: #3E413D;
}

.nav-show {
  justify-content: space-evenly;
  background-color: #3E413D;
}

.show-elements {
  padding-left: 0px!important;
}


.accordion-item:first-of-type {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  h2 {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
  }

}

.accordion-item:first-of-type h2 {
  button {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
  }
}

.accordion-item:last-of-type {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  h2 {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
  }

}

.accordion-item:last-of-type h2 {
  button {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
  }
}

.product-container {
  background-image: url('carotte.jpg');
  background-size: cover;
}

#alternative-button {
  position: fixed;
  bottom: 120px;
  width: 82%;
  height: 55px;
  margin-left: 3px;
  border-color: #1DDD50;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; /* Mise en gras */
  font-size: 20px;
}

#shop-button {
  border-color: none!important;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; /* Mise en gras */
  font-size: 20px;
  height: 55px;
  color: white;
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
}

.linear-gradient {
  background: linear-gradient(0deg, rgba(0,0,0,0.20214023109243695) 0%, rgba(255,255,255,0.5) 100%);
  position: fixed;
  bottom: 60px;
  height: 250px;
  width: 100%;
  margin-left: -36px;
  box-shadow: 0px 0px 40px 40px #000000;

}

.header h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: light;
  font-size: 30px;
  color: white;
}

.text-header {
  text-align: center;
  margin-bottom: 20px; /* Add this line to center-align the text */
}

.accordion-button:not(.collapsed) {
  background-color: white
}
