<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "#", class: "navbar-icon-button" do %>
      <%= image_tag image_path("icon_button.png") %>
    <% end %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag image_path("compteur.png") %>
    <% end %>
  </div>
</div>
