  <div class="logo-home d-flex align-items-center justify-content-start">
    <%= image_tag "logo_vegetables.png", alt: "Logo", style: "width: 60px"%>
    <h2 class="text-white mb-0">Le Panier Défendu</h2>
  </div>
