<div class="container d-flex flex-column justify-content-evenly">
  <div class=" dividing-line d-flex">
    <h2 class="text-rotate text-center text-capitalize">Le panier défendu</h2>
    <h1 class="increase-font-size border-start">Bien manger, ça se défend</h1>
  </div>

  <div class="logo-home d-flex align-items-center justify-content-center">
    <%= image_tag "logo_vegetables.png", alt: "Le panier défendu logo", class: "img-home" %>
  </div>

  <%= link_to '/histories/new', class: "btn btn-home btn-lg" do %>
    <span>Découvrir</span>
    <%= image_tag "chevron_bouton.png", alt: "Chevrons après découvrir" %>
  <% end %>

</div>
