<div class="home page">
  <div class="container">
    <div class="slogan">
      <h1>Manger aujourd'hui, se nourrir demain</h1>
    </div>
    <div class="logo">
      <img src="assets/logo_vegetables.png" alt="Le panier défendu logo">
    </div>
    <div class="btn-home">
      <a class="btn btn-home" href="#">Découvrir <%= ">>>" %></a>
    </div>
  </div>
</div>
