<div class="container d-flex justify-content-center" style="height: 100vh;">
  <div class="p-5 rounded text-white mt-5">
    <div class="d-flex justify-content-center align-items-center flex-column mb-3 mt-n3">
      <h1 class="text-center mb-4">Bravo !</h1>
      <%= image_tag "eco_earth.pnf", alt: "Compteur ecoscore", class: "img-fluid mb-4", style:"object-fit: cover;" %>
      <h4 class="text-center text-green mb-4">Grâce à tes achats, tu as permis de réduire de <strong>1kg</strong> les émissions de dioxyde de carbone (CO2).</h4>
    </div>
  </div>
</div>
