.btn-home {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background:#3E413D ;
  transition: background 0.3s ease;
}

.btn-home:hover {
  background: #3E413D;
  color: white;
}


.custom-btn-shop {
  background-color: #1DDD50;
  border-color: #1DDD50;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}
