.container-show {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 800px; /* Pour limiter la largeur du container */
  margin-top: 50px; /* Pour ajouter un espace en haut */
}
