.navbar-height {
  height: calc(#{$navbar-height} + 1.75rem);
  text-decoration: none;
}

.navbar-lepanierdefendu {
  background-color: #3E413D;
  border-radius: 32px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 1.75rem;
  height: 100%;
}

.text-rouge {
  color: #F70D0D !important;
}

.text-orange {
  color: #fca601 !important;
}

.text-vert {
  color: #1DDD50 !important;
}

.navbar-lepanierdefendu .navbar-collapse {
  flex-grow: 0;
}

.navbar-lepanierdefendu .navbar-brand img {
  width: 40px;
}

.image-container {
  display: block;
  text-align: center;
  font-family: "Quicksand", "sans-serif";
}

.image-container img {
  display: block;
  margin: 0 auto;
}

.image-container span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  color: white;
}

.image-container .hover-image {
  display: none;
}

.image-container img.hidden {
  display: none;
}
