.container-shop {
  background-color: #212121;
  padding: 12px;
}

.card-body {
  height: 415px;
}

.card-title-shop {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.card-time {
  margin-top: 30px;
  line-height: 29px;
  margin-left: 20px;
}

.img-fluid {
  border-radius: 20px;
  width: 355px;
  height: 245px;
}

.list-unstyled {
  font-family: "QuickSand";
}

.card-text {
  font-family: "QuickSand";
}
