// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/product_alternatives_show";

.h-100vh {
  height: 100vh;
}

.-translate-y-50 {
  transform: translateY(-50%);
}

.barcode-scanner-container {
  video {
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.drawingBuffer {
  width: 0% !important;
  height: 0% !important;
}

.phone-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $black-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .phone-container-content {
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  .navbar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  .navbar-footer-filler {
    height: calc(#{$navbar-height} + 1.75rem);
  }
}

.overscroll-none {
  overscroll-behavior: none;
}
